body {
    background: linear-gradient(183deg, #fab27c 0%, #ee4679 100%);
}

#redbone {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 250px;
    left: 700px;
    
}

#sober {

    width: 200px;
    height: 200px;
    position: absolute;
    top: 500px;
    left: 700px;
}
#link {
    width: 800px;
    height: 800px;
    
}
#homepagelink {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40px;
    left: 1300px;

}
#artlink {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 120px;
    left: 1290px;

}